.header {
    background: #FFFBF0 url("./assets/wave.png") no-repeat right 100%;
    background-size: 50%;
    height: 100vh;
    margin-top: -50px;
    border-radius: 0 0 50px 50px;
  }
  .text-box {
      padding: 50px;
  }
  .skill {
    background: #FFF3D5;
    padding: 10px 15px;
    display: inline-block;
    border-radius: 10px;
    transition: .5s
    
  }
  .am-box {
    width: 150px;
    height: 150px;
    background: #ffd369;
    text-align: center;
    padding: 20px 0;
    border-radius: 15px;
    margin: 30px 0;
    z-index: 1;
  }
  .am-box div {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  .am-box img {
    filter: brightness(0.2);
  }
  .space {
    justify-content: space-around;
  }
  .advice {
    text-align: center;
    margin: 50px 0;
  }
  .square {
    position: relative;
  }
  .square::before {
    content: "";
    height: 50vh;
    width: 25vw;
    border: 5px solid #FFF6E1;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50% 50% 75% 25% / 40% 70% 30% 60%;
  }
  .title {
    margin-left: 15px;
    margin-bottom: 20px;
  }
  .title::before {
    position: absolute;
    height: 50px;
    width: 10px;
    border-radius: 5px;
    background: #ffd369;
    margin-left: -15px;
    content: "";
  }
  .skills {
    background: #171717;
    border-radius: 50px;
    color: #fff;
    padding: 50px 25px;
  }
  .project {
    height: 300px;
    width: 250px;
  
  }
  .slides {
    width: 40%;
    margin: 20px 5%;
    background: #171717;
    border-radius: 20px;
    overflow: hidden;
  }
  .slides a img {
    border-radius: 20px;
    height: auto;
    width: 100%;
  }
  .work {
    padding: 50px;
  }
  .contact {
    padding: 50px;
    background: #ffd369 url("./assets/contact.png") no-repeat;
    border-radius: 50px;
    text-align: center;
  }
  .contact .button {
    border-color: #fff;
    background: #fff;
  }
  .contact .button svg {
    stroke: #ccc;
    position: absolute;
  }
  .menu {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .margin-50 {
    margin: 50px;
  }
  .button {
    display: inline-block;
    text-decoration: none;
    text-align: center;
    line-height: 38px;
    height: 40px;
    width: 150px;
    cursor: pointer;
    background: transparent;
    border: 2px solid #ffd369;
    outline: none;
    transition: 1s ease-in-out;
    position: relative;
    margin: 25px 0;
  }
  
  .button svg {
    position: absolute;
    left: -2px;
    top: -2px;
    fill: none;
    stroke: #e2ad00;
    stroke-width: 2px;
    stroke-dasharray: 150 480;
    stroke-dashoffset: 150;
    transition: 1s ease-in-out;
  }
  
  .button:hover {
    transition: 1s ease-in-out;
    background: #ffd369;
  }
  .button:hover span {
    color: #fff;
  }
  .button:hover svg {
    stroke-dashoffset: -480;
  }
  
  .button span {
    color: #ffb400;
    font-weight: 900;
  }
  .hand {
    background: #ffd369;
    border-radius: 100%;
  }
  .hand img {
      animation: spin 1s linear infinite alternate;
  }
  .see-more {
    font-size: 1.4rem;
    color: #ffffff;
    margin: 0 auto;
    background: #ffd369;
    padding: 5px 20px;
    border-radius: 10px;
    text-decoration: none;
  }
  @keyframes spin {
    0% { -webkit-transform: rotate(-10deg); transform:rotate(-10deg); transform-origin: bottom center;}
    50% { -webkit-transform: rotate(00deg); transform:rotate(0deg); transform-origin: bottom center;}
    100% { -webkit-transform: rotate(10deg); transform:rotate(10deg); transform-origin: bottom center;}
  }
  @media (max-width: 800px) {
  .margin-50 {
     margin: 5px;
    }
    .slides {
      width: 100%;
    }
    .header .flex-1:last-child {
      display: none;
    }
  }